.product-card {
	width: 300px; 
}

.product-img {
	height: 300px; 
	padding: 30px; 
}

.product-name {
	padding: 0px 15px 15px; 
}

.product-desc {
	display: flex;
	justify-content: center;
}

.product-price {
	display: flex;
	justify-content: center;
	font-style: italic;
}

.wishlist-row {
	display: flex; 
	justify-content: center;
	padding-top: 15px; 
}

.wishlist-col {
	padding: 0px; 
}

.wishlist-svg {
	vertical-align: initial;
}
